img{
    max-width: 100%
}

header nav a{
    color: #0DE7FF;
    font-weight:bold;
    text-decoration: none;
}
@media screen and (max-width: 991px){
    header nav a{
        display: block;
    }
}
