main{
    margin:auto;
    width: 90%;
}
footer{
    text-align: center;
}

@media screen and (min-width: 992px){
    main {overflow: hidden;
    }
    main section,
    main figure{
        float: left;
        width: 45%;
    }
    main figure{
        text-align: center
    }
    body {
        font-family: 'PT Sans', sans-serif;
        background-color: paleturquoise
 }
}